.janela2 {
    height: 1000px;
    width: 25%;
    background-color: blueviolet;
    float: right;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
}

.janela2 span {
    font-family: 'Climate Crisis', cursive;
    font-size: 30px;
    margin-bottom: 35px;
}

.janela2 p {
    font-weight: bold;
    margin-left: 25px;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: start;
    font-size: 20px;
}