@import url('https://fonts.googleapis.com/css2?family= Climate +Crisis & display=swap');

body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-evenly;
    transition: all;
}

.nav_bar {
    list-style-type: none;
}

.lista {
    text-transform: uppercase;
    text-decoration: none;
    color: rgb(181, 181, 9);
    transition-duration: 0.5s;
}

.lista:hover {
    color: #fff;
}

.janela1 {
    height: 1000px;
    width: 73.5%;
    background-color: aqua;
    float: left;
    margin-bottom: 15px;
}

.janela1 span {
    display: flex;
    font-family: 'Climate Crisis', cursive;
    font-size: 55px;
    margin-top: 35px;
    margin-left: 35px;
    margin-bottom: 25px;
}

.janela2 {
    height: 1000px;
    width: 25%;
    background-color: blueviolet;
    float: right;
    margin-bottom: 15px;
    margin-right: 10px;
    text-align: center;
}

.janela2 span {
    font-family: 'Climate Crisis', cursive;
    font-size: 30px;
    margin-bottom: 35px;
}

.janela2 p {
    font-weight: bold;
    margin-left: 25px;
    margin-top: 25px;
    text-transform: uppercase;
    text-align: start;
    font-size: 20px;
}

.icon {
    max-width: 32px;
    max-height: 32px;
    margin: 10px;
}

.janela3 {
    background-color: yellowgreen;
    height: 50px;
    width: 100%;
    clear: both;
}

.carousel-item {
    text-align: center;
}

.carousel-control-next {
    display: flex;
    margin-right: 30px;
}

.carousel-control-next {
    display: flex;
}   


.fotos {
    width: 95%;
    height: 523px;
}


